@import url("grid.css");

html, body {
    margin: 0;
    padding: 0;
    font: 1em/1.4em sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Стиль для шапки */

#container_menu {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1047A9;
    height: 50px;
}

#container_menu.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Стиль для меню */

/* три линии */

.line_container {
    padding-left: 11px;
    width: 30px;
    height: 50px;
    border-bottom: #fff
}

.line__white {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    transition: 1s all;
}

.line__red_in {
    width: 30px;
    height: 4px;
    background-color: #1047A9;
}

.line__red_updown {
    width: 30px;
    height: 15px;
    background-color: #1047A9;
}

/* end три линии */

/* Всплывающее меню */

.menu {
    display: none;
}

.menu a {
    background: #1047A9;
    color: #fff;
    padding: 10px;
    display: block;
    border-top: 1px solid #4577D4;
    transition: 0.5s all;
}

.menu a:hover {
    background: #4577D4;
    padding: 10px 0 10px 20px;
}

.menu__list {
    height: 50px;
    width: 50px;
    position: relative;
    border-bottom: #1047A9;
}

.menu__drop {
    width: 220px;
    position: absolute;
    top: -9999em;
    opacity: 0;
    transition: 0.5s opacity;
}

.menu__list:hover .menu__drop {
    opacity: 1;
    top: 50px;
}

/* end Всплывающее меню */

/* end Стиль для меню */

/* Стиль для заголовка */

.title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-size: 1.6em;
    padding: 13px;
}

/* end Стиль для заголовка */

/* Стиль для правого меню */
    
nav.right__menu {
    display: block;
    width: 505px;
    margin: 0 0 30px auto;
}

.right__menu ul {
    padding: 14px 14px;
    background: #1047A9;
}

.right__menu a {
    padding: 1em;
    color: #fff;
    transition: 0.5s all;
}

.right__menu a:hover {
    background: #4577D4;
}

.right__menu li {
    display: inline;
}

.right__support {
    display: none;
}

/* end Стиль для правого меню */

/* Стиль для основы  */

/* Стиль для фона */

.bg-image-1 {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../img/00.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 6.7em;
    padding-top: 6.7em;
    height: 25em;
    width: 100%;
}

.bg-image-2 {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(../img/03.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 6.7em;
    padding-top: 6.7em;
    height: 25em;
    width: 100%;
}

.bg-image-1 p {
    margin-bottom: 30px;
}

.bg-image-2 p {
    margin-bottom: 30px;
}


.bg-image-big-title {
    text-align: center;
    font-size: 3em;
    color: #fff;
}

.bg-image-mini-title {
    text-align: center;
    font-size: 2em;
    color: #fff;
}

/* end Стиль для фона */

.container_main {
    max-width: 960px;
    margin: 0 auto;
}

.line-important {
    display: flex;
    margin-left: 10%;
    width: 80%;
    height: 10px;
}

.line-left {
    width: 45%;
    margin: 3.5px 3.5px;
    margin-right: 5%;
    background-color: #4577D4;
}

.point {
    width: 1.5%;
    height: 100%;
    border: 0 solid;
    border-radius: 50%;
    background-color: #4577D4;
}

.line-right {
    width: 45%;
    margin: 3.5px 3.5px;
    margin-left: 5%;
    background-color: #4577D4;
}

.container_block {
    display: flex;
    flex-direction: row;
    height: 20em;
    margin-top: 2em;
}

.block-1 {
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.block-1__line-left {
    height: 3px;
    width: 75%;
    margin-top: 1.9em;
    margin-bottom: 1em;
    background: #FECF00;
}

.block-1__title-left {
    height: 2em;
    font-size: 2em;
    color: #FE6C00;
    text-align: left
}

.block-1__text-left {
    height: 10em;
    text-align: left;    
}

.block-1__line-right {
    height: 3px;
    width: 75%;
    margin-top: 1.9em;
    margin-bottom: 1em;
    margin-left: 25%;
    background: #FECF00;
}

.block-1__title-right {
    height: 2em;
    font-size: 2em;
    color: #FE6C00;
    text-align: right;    
}

.block-1__text-right {
    height: 10em;
    text-align: right;        
}

.block-2 {
    width: 50%;
    height: 18em;
    background-image: url(../img/01.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition-property: width, height;
    transition-duration: 0.5s;
}

.block-2:hover {
    width: 51%;
    height: 19em;
}

.container_block-max-width {
    display: flex;
    flex-direction: row;
    height: 20em;
    margin-top: 2em;
}

.block-1__line-right {
    height: 3px;
    width: 75%;
    margin-top: 1.9em;
    margin-bottom: 1em;
    margin-left: 25%;
    background: #FECF00;
}

.block-1__title-right {
    height: 2em;
    font-size: 2em;
    color: #FE6C00;
    text-align: right;    
}

.block-1__text-right {
    height: 10em;
    text-align: right;        
}

.container_block-min-width {
    display: none;
    flex-direction: row;
    height: 20em;
    margin-top: 2em;
}

/* Стиль для блока достижений */

.container_block-advantages {
    display: flex;
    flex-direction: column;
    height: 40em;
}

.block-advantages {
    display: flex;
    flex-direction: row;
    height: 10em;
    margin-top: 3em;
}

.block-1__advantages {
    width: 8em;
    height: 8em;
    margin-right: 5%;
    margin-left: 5%;
    background-image: url(../img/02.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.block-2__advantages {
    width: 60%;
    margin-left: 5%;
}

.block-2__advantages-title {
    height: 2em;
    font-size: 2em;
    color: #FE6C00;
    text-align: left
}

.block-2__advantages-text {
    height: 6em;
    text-align: left;
}

/* end Стиль для блока достижений */

/* Стиль для подвала */

footer {
    height: 12.5em;
    background: #666;    
}

/* end Стиль для подвала */


/* Медиа запросы */

@media (min-width: 480px) and (max-width: 960px) {

    #container_menu {
        justify-content: space-between;
    }

    nav.right__menu {
        display: none;
    }

    .right__support {
        display: block;
        height: 50px;
        width: 50px;
    }

    .menu {
        display: block;
    }

    .container_block {
        align-items: center;
        flex-direction: column;
        height: 40em;
    }

    .point {
        width: 1.65%;
    }

    .block-1 {
        padding-top: 0;
    }

    .block-1__text-left {
        margin-bottom: 2em;
    }

    .block-1__line-left {
        margin-top: 0.9em;
    }

    .block-2 {
        margin-bottom: 2em;
    }

    .container_block-max-width {
        display: none;
    }

    .container_block-min-width {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 40em;
    }

}

@media screen and (max-width:768px){

    .title {
        font-size: 1.2em;
    }

    .bg-image-big-title {
        font-size: 2em;
    }

    .bg-image-mini-title {
        font-size: 1em;
    }

    .point {
        width: 1.75%;
    }

    .block-1__text-left {
        margin-bottom: 4em;
    }

}

@media screen and (max-width:680px){

    .point {
        width: 1.9%;
    }

    .block-1__text-left {
        margin-bottom: 6em;
    }

}

@media screen and (max-width:600px){

    .point {
        width: 2.2%;
    }

    .block-1__text-left {
        margin-bottom: 8em;
    }

}

@media screen and (max-width:520px){

    .point {
        width: 2.5%;
    }

    .block-1__text-left {
        margin-bottom: 10em;
    }

}

@media screen and (max-width:480px){

    .block-1__text-left {
        margin-bottom: 12em;
    }

}