@import url("grid.css");

.container {
    max-width: 960px;
    margin: 0 auto;
}

.card {
    border: 1px solid black;
    height: 100px;
    margin: 5px;
}

p {
    margin: 0;
}

.card_vertical {
    border: 1px solid black;
    height: 324px;
    margin: 5px;
}

.slider__position {
    max-width: 960px;
    margin: 0 auto;
}

.slider {
    background-color: #439DE0;
    height: 200px;
}

li {
    list-style-type: none;
    display: inline;
}

ul.slider li {
    display: none;
}

ul.slider li.active {
    display: block;
}
